.hero-background {
  width: 100%;
  margin: auto;

  /* background-image: url("/public/BkgImage.jpg"); */
  background: rgb(61, 67, 219);
  background: linear-gradient(
    0deg,
    rgb(165, 205, 249) 0%,
    rgb(22, 84, 207) 70%,
    rgb(41, 32, 164) 100%
  );
}
.landing-image {
  object-fit: contain;
}
