body {
  width: 100%;
  margin: auto;
  border-radius: 10px;

  /* background-image: url("/public/BkgImage.jpg"); */
  background: rgb(94, 234, 228);
  background: linear-gradient(
    90deg,
    rgba(94, 234, 228, 1) 0%,
    rgba(192, 124, 234, 0.8744747899159664) 54%,
    rgba(252, 156, 248, 1) 100%
  );
}
.landing-image {
  object-fit: contain;
}
